$color-bg-primary: #f9f9f9;
$color-bg-secondary: #d6ecec;

// Text colors
$color-text-primary: #333;
$color-text-secondary: #7c7c7c;

// Buttons
$color-btn-buy-default: #333;
$color-btn-buy-hover: #131313;
$color-btn-buy-disabled: #d0d0d0;
$color-btn-send-default: #39bebf;
$color-btn-send-hover: #0c797a;
$color-btn-send-disabled: #cfeff0;
$color-btn-homepage-default: #0db2b3;
$color-btn-homepage-hover: #0c797a;
$color-btn-add-to-card-default: #333;
$color-btn-add-to-card-hover: #131313;
$color-btn-see-more-default: #0db2b3;
$color-btn-see-more-hover: #0db2b3;
$color-btn-return-to-card-default: #4f4f4f;
$color-btn-return-to-card-hover: #4f4f4f;
