.our-story {
  &__nav {
    margin-bottom: 62px;
  }

  &__container {
    @extend %container;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(auto-fit, 340px);
      grid-auto-flow: row;
      gap: 64px 20px;
      justify-content: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(auto-fit, 277.5px);
      gap: 64px 30px;
    }

    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  &__card {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
  }

  &--sticky {
    padding-top: 120px;
  }
}
